<div class = "search-wrapper">
    <input class="search" placeholder="Search" style="float: right;"/>
    <a href="" class="btn btn-search" style="float: right;"><i class="fa fa-search"></i>&nbsp</a>
</div>
<!--script>
// TODO: Potential Table sizing thing 
jQuery(document).on('load', function () {
    jQuery('#lib-view').kiketable_colsizable({
            dragMove: false,
            dragProxy: "area"
        })
        .end();
});
</script-->
<table cellpadding="0" cellspacing="0" id="lib-view" style="clear:both;">
    <colgroup>
        <!--col /-->
        <col />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <!--td> Play </td-->
            <td class="sort" data-sort="channel"><a class="dark">Channel</a></td>
            <td class="sort" data-sort="name"><a class="dark">Title</a></td>
            <td class="sort" data-sort="date"><a class="dark">Date</a></td>
            <td class="sort" data-sort="genre"><a class="dark">Genre</a></td>
            <td class="sort" data-sort="duration"><a class="dark">Duration</a></td>
        </tr>
    </thead>
    <tbody class="list">
        <tr ng-repeat="track in ctlr.data" ng-click="ctlr.playSong(track, this)">
            <!--td >x</td-->
            <td class="channel">{{track.c.properties.name}}</td>
            <td class="name">{{track.t.properties.name}}</td>
            <td class="date">{{ctlr.formatDate(track.t.properties.created_at)}}</td>
            <td class="genre">{{track.t.properties.genre}}</td>
            <td class="duration">{{ctlr.convertTime(track.t.properties.duration)}}</td>
        </tr>
    </tbody>
</table>