<!--div class = "search-wrapper">

</div-->
<!--script>
// TODO: Potential Table sizing thing 
jQuery(document).on('load', function () {
    jQuery('#lib-view').kiketable_colsizable({
            dragMove: false,
            dragProxy: "area"
        })
        .end();
});
</script-->
<input class="search" placeholder="Search" style="float: right;" />

<div class="left-side-wrapper">
    <ul>
        <li>Library</li>
            <ul>
                <li ng-click="ctlr.displaySongs()">Songs</li>
                <li>Channels</li>
                <li>Genres</li>
            </ul>

        <li>Playlists</li>
            <ul ng-repeat="playlist in ctlr.playlists">
                <li ng-click="ctlr.loadPlaylist(playlist)">{{playlist.p.properties.name}}</li>
            </ul>
    </ul>
</div>
<div class="library-wrapper">
    <table cellpadding="0" cellspacing="0" id="lib-view" style="clear:both;">
        <colgroup>
            <!--col /-->
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <!--td> Play </td-->
                <td ng-click="ctlr.updateSort('c.properties.name')"><a class="dark">Channel</a></td>
                <td ng-click="ctlr.updateSort('t.properties.name')"><a class="dark">Title</a></td>
                <td ng-click="ctlr.updateSort('t.properties.created_at')"><a class="dark">Date</a></td>
                <td ng-click="ctlr.updateSort('t.properties.genre')"><a class="dark">Genre</a></td>
                <td ng-click="ctlr.updateSort('t.properties.duration')"><a class="dark">Duration</a></td>
            </tr>
        </thead>
        <tbody class="list">
            <tr ng-repeat="track in ctlr.display | orderBy:ctlr.sortType:ctlr.sortReverse" ng-click="ctlr.playSong(track, this)">
                <!--td >x</td-->
                <td class="channel">{{track.c.properties.name}}</td>
                <td class="name">{{track.t.properties.name}}</td>
                <td class="date">{{ctlr.formatDate(track.t.properties.created_at)}}</td>
                <td class="genre">{{track.t.properties.genre}}</td>
                <td class="duration">{{ctlr.convertTime(track.t.properties.duration)}}</td>
            </tr>
        </tbody>
    </table>
</div>
