you're logged in as {{username}}.

<br>
<br>

Add your collection to the database.
<button onclick="addCollection()">Click</button>

<script src="js/util/jquery.min.js"></script>
<script src="js/home.js"></script>
