<!DOCTYPE html>
<html>

<head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div class="top-wrapper">
        <h1 class="logo pull-left">SCLibrary</h1><small>beta</small>
        <input class="search" placeholder="Search" style="float: right;" />
        <a href="" class="btn btn-search" style="float: right;"><i class="fa fa-search"></i>&nbsp</a>
        <a class="btn btn-default pull-right" href="/logout/">Logout</a>
        <a href="#" class="pull-right">{{user.username}}</a>
    </div>
    <div class="container">

        {{{body}}}
    </div>
</body>

</html>
