<!DOCTYPE html>
<html>

<head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div class="top-wrapper">
        <h1 class="logo pull-left">SCLibrary</h1><small>beta</small>
        <a class="btn btn-default pull-right" href="/logout/">Logout</a>
    </div>
    <div class="container">

        {{{body}}}
    </div>
</body>

</html>
