<!DOCTYPE html>
<html>

<head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.css">


</head>

<body>


    {{{body}}}
</body>

</html>
