<!--aside class="user-wrapper"><span>You are logged in as <a href="#" class="username"></a>.</span></aside-->

<div id="player" style="width: 100%;"> 
    <div class ="pull-left" id="prev"><i class="sc sc-caret-left"></i></div>
    <div id="artwrapper" style="display:inline-block; float: left;">
		<div id="artworkimg">
        <div id="pauseplay" alt="" style="display: inline-block; background-image: url(../images/sc_icons/play.svg);">
        </div>
        </div>
	</div>
	<div id="seekbarwrapper" style="display:inline-block; float: left; position:relative; height:100%; width:80%;">
        
		<img id="waveformimg"/>
		<!--img src="../images/seekicon.png" id="seekicon" style="position:absolute;  top: 50%; transform: translateY(-50%);"-->
        <div id="back-div"></div>
	</div>
    <div class ="pull-right" id="next"><i class="sc sc-caret-right"></i></div>
	
</div>


<div id="library" ng-app="Library">
	<library ng-controller="LibraryCtlr">
	</library>
</div>

<script type="text/javascript">
	var client_id = JSON.parse('{{{json client_id}}}');
	var loggedinuser = JSON.parse('{{{json user}}}');
</script>


<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/jquery-ui/ui/core.js"></script>
<script src="/bower_components/jquery-ui/ui/widget.js"></script>
<script src="/bower_components/jquery-ui/ui/mouse.js"></script>
<script src="/bower_components/jquery-ui/ui/resizable.js"></script>

<script src="/bower_components/jQuery-contextMenu/dist/jquery.ui.position.js"></script>
<script src="/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.js"></script>

<script src="/js/lib/library.js"></script>


<script src="/js/player/api.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script src="/js/player/player.js"></script>