


You are logged in as {{user.username}}.
<br><br>

<div id="library" ng-app="Library">
	<library>
	</library>
</div>

<script src="/bower_components/list.js/dist/list.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/js/lib/library.js"></script>