<script src="bower_components/list.js/dist/list.min.js"></script>
<script src="js/library.js"></script>

<div id="tracks">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>
  <table>
    <tbody class="list">
      <tr>
        <td class="name">{{collection[0].name}}</td>
        <td class="genre">{{collection[0].genre}}</td>
      </tr>
    </tbody>
  </table>

</div>