<!--aside class="user-wrapper"><span>You are logged in as <a href="#" class="username"></a>.</span></aside-->

<div id="player">
  <!-- Top wrapper area, contains toggle/setting buttons, genres -->
  <div id="top-wrapper">
    <a class="pull-left" id="toggle" href="javascript:toggleLib();"></a>
    <ol class="genre-wrapper">
      <li class="genre-btn"></li>
    </ol>
    <a class="pull-right" id="settings" href="#"></a>
  </div>

  <!-- Main wrapper area, contains artwork, title, channel, and prev/next buttons -->
  <div class="player-main-wrapper">
    <div class="container">
      <div class="col-sm-12">
        <!-- Artwork gets loaded in as a background image here -->
      	<div id="artworkimg"></div>
        <span class="track-title">&nbsp;</span>
        <span class="track-channel">&nbsp;</span>
      </div>
    </div>
	</div>
  <!-- used to darken background art -->
  <div id="back-div"></div>
  <div id="art-bk"></div>


</div>


<div id="library" ng-app="Library">
	<library ng-controller="LibraryCtlr">
	</library>
</div>

<script type="text/javascript">
	var client_id = JSON.parse('{{{json client_id}}}');
	var loggedinuser = JSON.parse('{{{json user}}}');
</script>


<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/jquery-ui/ui/core.js"></script>
<script src="/bower_components/jquery-ui/ui/widget.js"></script>
<script src="/bower_components/jquery-ui/ui/mouse.js"></script>
<script src="/bower_components/jquery-ui/ui/resizable.js"></script>

<script src="/bower_components/d3/d3.js"></script>

<script src="/bower_components/jQuery-contextMenu/dist/jquery.ui.position.js"></script>
<script src="/bower_components/jQuery-contextMenu/dist/jquery.contextMenu.js"></script>

<script src="/js/lib/library.js"></script>


<script src="/js/player/api.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script src="/js/player/player.js"></script>
