
<br><br><br><br>

Welcome to the admin panel


<div id="panel" ng-app="Admin">
	<admin ng-controller="AdminCtlr">
	</admin>
</div>


<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>

<script src="/js/lib/admin.js"></script>