<div id="behind-vid"></div>
<div id="video-div"></div>

<div class="container">
	<div class="row full-center">
			<div class="col-md-8" id="signup-panel">
					<div class="login-panel panel panel-default login-panel">
							<div class="panel-heading text-center">
									<h3 class="panel-title">Sign Up</h3>
							</div>
							<div class="panel-body">
								<div class="banner">
									{{#if msg}}
										{{msg}}
									{{/if}}
								</div>
								<form action="/signup/submit" method="post" class="simple-form">
												<div class="form-group">
														<input class="form-control" placeholder="Name" name="name" type="text" autofocus>
												</div>
												<div class="form-group">
														<input class="form-control" placeholder="Email" name="email" type="email" value="">
												</div>
												<div class="form-group">
														<input class="form-control" placeholder="Soundcloud Username" name="sc_account" type="text" value="">
														<span>ex) http://soundcloud.com/skrillex, the username would be skrillex</span>
												</div>
												<hr>
												<div class="form-group">
														<input class="form-control" placeholder="Password" name="password" type="password" value="">
												</div>
												<div class="form-group">
														<input class="form-control" placeholder="Confirm Password" type="password" value="">
												</div>

												<button type="submit" value="Submit" class="btn btn-success btn-block">Submit</button>
												<hr>
												<a href="javascript:loadLogin();" class="btn btn-success btn-block">Login</a>
									</form>
							</div>
					</div>
			</div>
	</div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>

<script src="/js/login-signup.js"></script>
