/*Google font collection*/

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300|Oxygen:400,300);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

/*Table js solution CSS*/


/*@import url(http://www.ita.es/jquery/jquery.kiketable.colsizable.css);*/

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
.hidden {
    display: none;
}

a.btn.btn-search {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    display: table-cell;
    vertical-align: center;
    background-color: #00B7FF;
    color: #fff;
    margin-right: 7px;
    padding: 6px 8px;
    box-sizing: border-box;
}

.search-wrapper {
    width: 100%;
    height: 30px;
    display: table;
    margin-bottom: 7px;
}

input.search:focus {
    border: 1px solid #afafaf;
    box-shadow: 1px 2px 3px rgba(23,23,23,0.4);
    transition: .2s ease;
}
input.search {
    min-width: 20px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    outline: none !important;
    padding: 0 7px;
}

/*Library table styles*/

* {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
tr.ng-scope:nth-of-type(2n) {
    background-color: #ebebeb;
}
tbody.list td {
    padding: 3px 2px;
}

/*Header*/

thead > tr {}
thead > tr {
    padding: 4px 6px;
    text-align: center;
}
thead > tr > td {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    color: #333;
    padding: 4px 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
    background: rgb(245, 246, 246);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6', GradientType=0);
    /* IE6-9 */
}