/*Google font collection*/

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300|Oxygen:400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

/*Table js solution CSS*/

/*@import url(http://www.ita.es/jquery/jquery.kiketable.colsizable.css);*/

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #232323;
}

/*Delete if we use bootstrap*/

.pull-left {
    display: block;
    float: left;
}
.pull-right {
    display: block;
    float: right;
}
.hidden {
    display: none;
}
aside {
    /*margin-left: -50px;
    margin-right: -50px;*/
    background-color: #232323;
    padding: 12px 30px;
    color: #e3e3e3;
}

/*End bootstrap delete*/

a.btn:hover,
a.btn:focus {
    color: #fff;
    border-color: #fff;
    margin-top: -2px;
    margin-left: -1px;
    box-shadow: 1px 2px 3px rgba(23, 23, 23, 0.4);
}
a.btn:active {}
a.btn {
    transition: all .2s ease;
    border: #555 solid 2px;
    border-radius: 5px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    background-image: url(../images/banner-red-poly.svg);
    background-color: #FFA0A0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    box-sizing: border-box;
    padding: 4px 6px;
    text-decoration: none;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.ui-shadow {
    box-shadow: 2px 2px 3px rgba(23, 23, 23, 0.4);
}
h1.logo + small {
    font-family: 'Source Code Pro', sans-serif;
    color: #555;
}
h1.logo {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 150%;
    color: #232323;
    margin-left: 15px;
}
.top-wrapper a.btn {
    top: 14px;
    right: 15px;
}
a {
    color: #00B7FF;
}
a.btn.btn-search {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}
.search-wrapper,
.user-wrapper {
    display: inline-block;
    width: 100%;
    height: auto;
    TEXT-ALIGN: center;
    padding: 6px;
}
input.search:focus {
    border: 1px solid #afafaf;
    box-shadow: 1px 2px 3px rgba(23, 23, 23, 0.4);
    transition: .2s ease;
}
input.search {
    min-width: 20px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    outline: none !important;
    padding: 0 7px;
}

/*Library table styles*/

.left-side-wrapper {
    width: 300px;
    height: 100vh;
    display: inline-block;
    background-color: #242424;
    position: fixed;
    color: #efefef;
    overflow-y: scroll;
    position: fixed;
    top: 0;
}
.library-wrapper {
    width: 100vw;
    float: right;
    clear: none;
    transform: translate(300px, 0);
    overflow-y: scroll;
}
* {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
ul.header > li > ol > li.ui-resizable:last-of-type {
  position: absolute;
  top: 0;
  float: none;
  transform: translate(calc(100vw - 100%), 0);
}
ul.header > li {

    left: 0 !important;
}
ul.header {
    /* Fix header row */
    position: fixed;
}
ul.list {
    margin-top: 30px;
    overflow-y: scroll !important;
    height: calc(100vh - 300px);
}
table {
    width: 100%;
}
tbody.list td {
    padding: 4px 6px;
    border-bottom: #e3e3e3 solid 1px;
}

/*Header*/

*:hover > a.dark,
*:hover > a.dark {
    color: #00B7FF;
}
a.dark {
    color: #333;
}

/*alternating colors*/

li.track-row:nth-of-type(2n) {
    background-color: #F6F6F6;
}
li.track-row:nth-of-type(2n+1) {
    background-color: #fff;
}
ul.list > li,
ul.header > li {
    width: 100%;
    height: 25px;
}
ul > li,
ul > li > ol > li {
    display: inline-block;
    float: left;
}
ul.list,
ul.header,
ul.header,
li > ol,
ul.list li > ol {
    list-style: none;
    width: 100%;
    padding: 0;
    display: inline-block;
}
ul.header li > ol > li,
ul.list li > ol > li {
    width: 16.66%;
    margin: 0;
}
ul.list li > ol > li {
    border-right: 1px solid #e3e3e3;
    white-space: nowrap;
    overflow: hidden;
    padding: .1em .2em;
    height: 1.4em !important;
}
ul.header ol > li {
    border: 1px solid #e3e3e3;
    border-bottom: #afafaf 1px solid;
    color: #333;
    padding: 4px 3px;
    background-color: #e3ecee;
    left: 0 !important;
}

/* Player styles */

@keyframes colorChange {
    0% {
        background-color: initial;
    }
    20% {
        background-color: #10ef16
    }
    40% {
        background-color: rebeccapurple;
    }
    60% {
        background-color: firebrick;
    }
    80% {
        background-color: aliceblue;
    }
    100% {
        background-color: #333;
    }
}
#pauseplay {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    height: 100%;
    width: 100%;
}
#waveformimg {
    position: relative;
    width: 100%;
}
#player.playing + div#library {
    transition: all .2s ease;
}
#player:not(.playing) .player-main-wrapper {
  opacity: 0.0;
}
#player.playing .player-main-wrapper {
  opacity: 1.0;
  transiton: opacity 1.5s ease;
}
#player.playing * {
    max-height: none;
    opacity: 1.0;
    transition: all .5s ease;
}
#player {
    display: table;
    transition: max-height 1s ease;
    position: relative;
    top: 0;
    height: 300px;
    width: 100%;
    background-color: #232323;
}
#player #playpausewrapper {
    display: none;
}

#player:not(.playing) div#back-div {
    background-color: rgba(0,0,0,1.0);
}
#player.playing div#back-div {
    background-color: rgba(0,0,0,0.2);
    transition: background-color 2.5s ease;
}
div#back-div {
    position: fixed;
    top: 0;
    height: 300px;
    width: 100vw;
    z-index: 1;
}
#seekbarwrapper {
    background: #333;
    z-index: -2;
    overflow: hidden;
}
#artworkimg {
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 2;
}
#artworkimg #pauseplay {
    opacity: 0.0;
    transition: all .2s ease;
}
#artworkimg:hover #pauseplay {
    opacity: 0.6;
}
#artworkimg:active #pauseplay {
    opacity: 1.0;
    -webkit-filter: drop-shadow(10px, 12px, 6px, black));
    ;
}
ul.side > li,
ul.sub > li {
    display: inline-block;
    width: 100%;
    float: left;
    clear: both;
}

/*  */


/* Top bar */

.top-wrapper {
    height: 60px;
    width: 100%;
    position: relative;
    top: 0;
    display: inline-block;
    z-index: 100;
}


div#library {
    display: inline-block;
    width: 100vw;
    position: fixed;
    top: 300px;
    overflow-y: visible;
}

input.ng-pristine {
    border-radius: 7px;
    border: none !important;
    padding: 4px 10px;
    color: #a1a1a1;
    outline: none;
    margin: 7px auto;
}

ul.side {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding: 0 10px;
}

div#art-bk {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  -webkit-filter: blur(10px);
}

/*Toggle functionality for left side wrapper*/

body .left-side-wrapper,
body .library-wrapper,
body #player {
  transition: all 0.5s ease;
}

body.toggled .left-side-wrapper {
    transform: translate3d(0, 0, 0);
}
body.toggled .library-wrapper,
body.toggled #player {
    transform: translate3d(300px, 0, 0);
}
body div.left-side-wrapper {
    transform: translate3d(-300px, 0, 0);
}
body div.library-wrapper,
body #player {
    transform: translate3d(0, 0, 0);
}


.player-main-wrapper {
    width: 100vw;
    display: inline-block;
    height: 100px;
}

a#toggle {
    height: 40px;
    width: 40px;
    background-image: url(../../images/sc_icons/menu.svg);
    opacity: 0.5;
}
a#settings {
    height: 40px;
    width: 40px;
    background-image: url(../../images/sc_icons/gear.svg);
    opacity: 0.45;
}

div#top-wrapper {
    height: 60px;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 10px;
    z-index: 2;
    opacity: 0.6 !important;
}

a#settings {}

ol.genre-wrapper {
    max-width: calc(100vw - 100px);
    display: inline-block;
    overflow-x: scroll;
    list-style: none;
    height: 40px;
    padding: 0;
}

span.track-title,
span.track-channel {
  background-color: rgba(255,255,255,0.4);
  width: calc(95% - 100px);
  height: 40px;
  z-index: 2;
  position: absolute;
  display: inline-block;
}

span.track-channel {
    transform: translate(21px, 25px);
}

span.track-title {
    transform: translate(10px);
}

body {
    overflow-x: hidden;
}