/*Google font collection*/

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300|Oxygen:400,300);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

/*Table js solution CSS*/


/*@import url(http://www.ita.es/jquery/jquery.kiketable.colsizable.css);*/

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('../images/confectionary.png');
    margin: 0;
}
/*Delete if we use bootstrap*/
div.container {
    padding: 50px;
}
.pull-left {
    display: block;
    float: left;
}
.pull-right {
    display: block;
    float: right;
}
.hidden {
    display: none;
}
/*End bootstrap delete*/
a.btn:hover,
a.btn:focus {
    color: #fff;
    border-color: #fff;
    margin-top: -2px;
    margin-left: -1px;
    box-shadow: 1px 2px 3px rgba(23,23,23,0.4);
}
a.btn:active {
    
}
a.btn {
    transition: all .2s ease;
    border: #555 solid 2px;
    border-radius: 5px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    background-image: url(../images/banner-red-poly.svg);
    background-color: #FFA0A0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    box-sizing: border-box;
    padding: 4px 6px;
    text-decoration: none;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
h1.logo + small {
    font-family: 'Source Code Pro', sans-serif;
    color: #555;
}
h1.logo {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 150%;
    color: #232323;
    margin-left: 15px;
}
.top-wrapper a.btn {
    top: 14px;
    right: 15px;
}
a {
    color: #00B7FF;
}
a.btn.btn-search {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.search-wrapper {
    width: 100%;
    height: 30px;
    display: table;
    margin-bottom: 7px;
}

input.search:focus {
    border: 1px solid #afafaf;
    box-shadow: 1px 2px 3px rgba(23,23,23,0.4);
    transition: .2s ease;
}
input.search {
    min-width: 20px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    outline: none !important;
    padding: 0 7px;
}

/*Library table styles*/

* {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
table {
    width: 100%;
}

tbody.list td {
    padding: 4px 6px;
    border-bottom: #e3e3e3 solid 1px;
}

/*Header*/
*:hover > a.dark,
*:hover > a.dark {
    color: #00B7FF;
}
a.dark {
    color: #333;
}
/*alternating colors*/
tr.ng-scope:nth-of-type(2n) {
    background-color: #F6F6F6;
}
tr.ng-scope:nth-of-type(2n+1) {
    background-color: #fff;
}
tbody tr > td {
    border-right: 1px solid #e3e3e3;
}
tbody tr > td:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
tbody tr > td:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
thead > tr {
    padding: 4px 6px;
    text-align: center;
}
thead > tr > td {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    border-bottom: #afafaf 1px solid;
    color: #333;
    padding: 4px 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
    background: rgb(245, 246, 246);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(245, 246, 246, 1) 0%, rgba(219, 220, 226, 1) 21%, rgba(184, 186, 198, 1) 49%, rgba(221, 223, 227, 1) 80%, rgba(245, 246, 246, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6', GradientType=0);
    /* IE6-9 */
}
/* Player styles */
@keyframes colorChange {
    0% {
        background-color: initial;
    }   20% {
        background-color: #10ef16
    }   40% {
        background-color: rebeccapurple;
    }   60% {
        background-color: firebrick;
    }   80% {
        background-color: aliceblue;
    }   100% {
        background-color: #333;
    }
}


div#back-div {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #00B7FF;
    z-index: -1;
    animation: colorChange 20s infinite ease both;
    animation-play-state: running;
}

#seekbarwrapper {
    background: #333;
    z-index: -2;
    max-width: 694px;
}

/* Top bar */
.top-wrapper {
    height: 60px;
    width: 100%;
    background-image: url(../images/banner-white-poly.svg);
    background-color: #D6D6D6;
    background-repeat: no-repeat;
    background-size: cover;
}